{{log @root}}
<form class="{{cssClass}}" autocomplete="off">
    <section class="editable">
        <div class="messsage">
            <div class="messsage-content">
                {{editor content target="content" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>
